
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background-color: #6c757d;
    color: #fff;
    transition: all 0.3s;
}

    #sidebar .sidebar-header {
        padding: 20px;
        background-color: #767a8a;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #6c757d;
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        color: #fff;
        font-size: 1.1em;
        display: block;
    }

        #sidebar ul li a:hover {
            color: #767a8a;
            background: #fff;
        }

    #sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #fff;
        background: #6c757d;
    }

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background-color: #575b66;
}
::-webkit-scrollbar {
    display:none;
    width: 0px;
}