
    <div class="container pt-5">
        <hr class="featurette-divider m-3">
        <div class="row">
            <div class="col-lg">
                <div class="h1 text-center">Чому саме ми?</div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-lg-4">
            <div class="d-flex justify-content-center">
                <img class="picture" width="140" height="140" src="~/Content/price.png" />
            </div>
                <h2 class="text-center">Низькі ціни та якість</h2>
                <p>Так як ми привозимо усе обладнання зі США та Західної Європи зі складів оригінальних виробників, якість та низькі ціни наших товарів не зможуть Вас засмутити.</p>

            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="d-flex justify-content-center">
                    <img class="price" width="140" height="140" src="~/Content/operator.png" />
                </div>
                    <h2 class="text-center">Онлайн-допомога</h2>
                    <p>Використавши віджет на нашому сайті, Ви можете зв'язатися із менеджером через Telegram, Viber, або електронну пошту для уточнення будь-яких питань.</p>

                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="d-flex justify-content-center">
                        <img class="price" width="140" height="140" src="~/Content/card.png" />
                    </div>
                        <h2 class="text-center">Зручність</h2>
                        <p>Залишити замовлення на нашому сайті безкоштовно. А при розмові з оператором оберіть зручний для Вас спосіб оплати - накладним платежом чи на картку.</p>

                    </div><!-- /.col-lg-4 -->
            </div>
    </div>

